services:
  backend:
    image: ghcr.io/${GITHUB_REPOSITORY_OWNER}/bico-backend:latest
    container_name: backend
    restart: always
    env_file: .env
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy

  frontend:
    image: ghcr.io/${GITHUB_REPOSITORY_OWNER}/bico-frontend:latest
    container_name: frontend
    restart: always
    ports:
      - "80:80"
      - "443:443"
    env_file: .env
    depends_on:
      - backend
    volumes:
      - caddy_data:/data
      - caddy_config:/config

  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  pgdata:
  caddy_data:
  caddy_config: