services:
  backend:
    build: ./backend
    container_name: backend
    env_file: .env
    depends_on:
      - postgres
    networks:
      - internal

  frontend:
    build: ./frontend
    container_name: frontend
    depends_on:
      - backend
    ports:
      - "80:80"
      - "443:443"
    environment:
      - DOMAIN_NAME=${DOMAIN_NAME:-localhost}
    volumes:
      - ./caddy_data:/data
      - ./caddy_config:/config
    networks:
      - internal
      - external

  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - internal

volumes:
  pgdata:
  caddy_data:
  caddy_config:


networks:
  internal:
    internal: true
  external:
    external: false
