services:
  backend:
    build: ./backend
    container_name: backend
    env_file: .env
    depends_on:
      - postgres
    networks:
      - internal

  frontend:
    build: ./frontend
    container_name: frontend
    depends_on:
      - backend
    networks:
      - internal

  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - internal

  caddy:
    image: caddy:latest
    container_name: caddy
    ports:
      - "80:80"
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - frontend
      - backend
    networks:
      - internal
      - external

volumes:
  pgdata:
  caddy_data:
  caddy_config:


networks:
  internal:
    internal: true
  external:
    external: false
